{% extends 'base.html' %}
{% block title %}
    POKEMON
{% endblock %}

{% block content %}
  <ul>
    <li><a href="home"><b>Home</b></a></li>
    <li><a href="About"><b>About</b></a></li>
    <li><a href="Facts"><b>Facts</b></a></li>
  </ul>
  <h1><b>POKEMON FINDER</b></h1>
  <form method="post">
    <div class="search-icon">
    <label for="title"><b>Search Pokemon:</b></label>
    <input
      name="title"
      id="title"
      value="{{ request.form['title'] }}"
      required
    />
    <input type="submit" value="Go!" />
    </div>
  </form>
{% endblock %}
