{% extends 'base.html' %}
{% block title %}
    CATS
{% endblock %}

{% block content %}
  <ul>
    <li><a href="#home"><b>Home</b></a></li>
    <li><a href="#news"><b>News</b></a></li>
    <li><a href="#contact"><b>Contact</b></a></li>
    <li><a class="active" href="#about"><b>About</b></a></li>
  </ul>
  <h1><b>Search Here!</b></h1>
  <form method="post">
    <label for="title">Search Cats</label>
    <input
      name="title"
      id="title"
      value="{{ request.form['title'] }}"
      required
    />
    <input type="submit" value="Save" />
  </form>
{% endblock %}